@font-face {
  font-family: "malang";
  src: url("../fonts/HancomMalangMalang-Regular.ttf");
}

@font-face {
  font-family: "melona";
  src: url("../fonts/BinggraeMelona.ttf");
}

@font-face {
  font-family: "taom";
  src: url("../fonts/BinggraeTaom.ttf");
}

@font-face {
  font-family: "binggrae";
  src: url("../fonts/Binggrae.ttf");
}

@font-face {
  font-family: "welltoday";
  src: url("../fonts/WellToday.ttf");
}

@font-face {
  font-family: "wellday";
  src: url("../fonts/WellDay.ttf");
}

body {
  font-family: malang, "Noto Sans KR", sans-serif;
  transition: background-color 0.5s;
  overflow-x: hidden;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

input[type="text"] {
  font-family: "Noto Sans KR";
  font-size: 1rem;
  min-width: 40%;
  padding: 0.5rem 1rem;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-radius: 5px;
  transition: all 0.4s;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

button {
  font-family: "Noto Sans KR";
  border: 0;
  border-radius: 0.25rem;
  background: #364fc7;
  color: white;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
}

button.close {
  padding: 0.8rem;
}

.malang {
  font-family: "malang";
}

.melona {
  font-family: "melona";
}

.taom {
  font-family: "taom";
}

.binggrae {
  font-family: "binggrae";
}
