header .title {
  font-size: 0;
}

#time {
  font-size: 2rem;
  margin: 1rem 0 0.5rem;
  font-weight: bold;
}

#date {
  margin-bottom: 2rem;
}

#welcome {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

#weather {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
