/* bg-wrap */

.color-group {
  display: flex;
  margin-bottom: 5px;
}

.bg-wrap {
  position: absolute;
  top: 17%;
  right: -300px;
  z-index: 2;
  transition: right 0.5s;
  color: #fff;
}

.color-box {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}

/* sideoption */

.sideoption {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #111;
  transition: 0.5s;
  word-break: keep-all;
}

.sideoption.active {
  width: 316px;
}

.toggle {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.toggle i {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.sideoption.active .toggle {
  color: #818181;
  transition: 0.3s;
}

.sideoption.active .toggle:hover {
  color: #f1f1f1;
}

/* buttons */

.reset {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

/* fonts */
.fonts {
  display: none;
  position: absolute;
  right: -200px;
  top: 20%;
  z-index: 2;
  transition: right 0.5s;
}

.font {
  text-decoration: none;
  font-size: 1.2rem;
  color: #818181;
  transition: 0.3s;
  display: block;
  cursor: pointer;
  margin-bottom: 0.6rem;
}

.font:hover {
  color: #f1f1f1;
}

.fonts h2 {
  color: #fff;
  margin-bottom: 1rem;
}

.current-font {
  color: #f1f1f1;
}

/* tab */

.tab-menu {
  position: absolute;
  top: 10%;
  margin: 0 1.5rem;
  width: 100%;
  border-bottom: 1px solid #343a40;
  display: flex;
}

.tab-menu button {
  border-radius: 0;
  outline: none;
  background-color: #343a40;
}

.tab-menu .current-tab {
  background-color: #fa5252;
}

/* info-desc */
.info-desc {
  display: none;
  color: #f1f1f1;
  position: absolute;
  right: -500px;
  top: 20%;
  z-index: 2;
  transition: right 0.5s;
  text-align: left;
  margin: 0 2rem;
  line-height: 1.5;
  word-break: keep-all;
}

.info-desc li {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #212529;
}
