/* bg-wrap */

.color-group {
  margin-bottom: 5px;
}

.bg-wrap {
  position: absolute;
  top: 20%;
  right: -300px;
  z-index: 2;
  transition: right 0.5s;
  color: #fff;
}

.color-box {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}

/* sideoption */

.sideoption {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #111;
  transition: 0.5s;
  word-break: keep-all;
}

.sideoption.active {
  width: 316px;
}

.toggle {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.toggle i {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.sideoption.active .toggle {
  color: #818181;
  transition: 0.3s;
}

.sideoption.active .toggle:hover {
  color: #f1f1f1;
}

/* reset, info button */

.reset {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.info {
  position: absolute;
  left: 1rem;
  top: 1rem;
}

/* fonts */
.fonts {
  position: absolute;
  right: -200px;
  bottom: 7%;
  z-index: 2;
  transition: right 0.5s;
}

.font {
  text-decoration: none;
  font-size: 1.5rem;
  color: #818181;
  transition: 0.3s;
  display: block;
  cursor: pointer;
  margin-bottom: 0.6rem;
}

.font:hover {
  color: #f1f1f1;
}

.fonts h2 {
  color: #fff;
  margin-bottom: 1rem;
}

.current-font {
  color: #f1f1f1;
}
