/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

/* common */
body {
  font-family: "Noto Sans KR", sans-serif;
  transition: all 0.5s;
  overflow-x: hidden;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

input[type="text"] {
  font-size: 1rem;
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  cursor: pointer;
  font-size: 1rem;
  border: none;
  background-color: #343a40;
  color: #fff;
  padding: 10px 12px;
  border-radius: 4px;
  outline: none;
}

/* JavaScript에서 관리 */

.none {
  display: none;
}

/* mainspace */

.mainspace {
  max-width: 1028px;
  margin: 0 auto;
  text-align: center;
}

#clock {
  margin: 2rem 0;
}

#welcome {
  margin-bottom: 1.5rem;
}

#name-form,
#list-form {
  margin-bottom: 1rem;
}

#weather {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

/* todo-space */
.todo-space-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.todo-space-wrap h3 {
  margin-bottom: 1rem;
}

.todo-space-wrap ul {
  width: 300px;
  min-height: 300px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.todo-space-wrap li {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  cursor: pointer;
}

.todo-space-wrap li span:first-child {
  margin-left: 1rem;
}

.todo-space-wrap li span:last-child {
  margin-right: 1rem;
}

.todo-space-wrap li i {
  font-size: 1.4rem;
}

.todo-space-wrap .hold {
  border: 5px dashed;
}

.todo-space-wrap .hovered ul {
  opacity: 0.9;
}

.todo-space-wrap .invisible {
  display: none;
}

.todo-space-wrap .visible {
  display: flex;
}

/* bg-wrap */

.color-group {
  margin-bottom: 5px;
  text-align: center;
}

.bg-wrap {
  position: absolute;
  top: 20%;
  right: -300px;
  transition: right 1s;
  z-index: 1;
}

.color-box {
  display: inline-block;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin-right: 5px;
}

/* sideoption-menu */

.sideoption {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: #212529;
  transition: all 1s;
  text-align: center;
}

.sideoption.active {
  width: 316px;
}

.toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.toggle i {
  font-size: 2rem;
  line-height: 60px;
  color: #000;
}

.sideoption.active i {
  color: #fff;
}
